svg{
    height: 24px;
    width: 24px;
    fill: var(--h1-color);
    cursor: pointer;
}

summary.svg{
    background-color: transparent;
}
summary.svg::after{
    content: none !important;
}


aside{
    position: fixed;
    height: 100vh;
}/*large desktops max  -> width:8em | min -> width:4em*//*
aside.menu{
    transform: translateX(0%);
    background-color: rgba(255, 255, 255, .15);
}
aside nav{
    background-color: var(--card-background-color);
}*/
aside#desktop{
    display: none;
}
aside#mobile{
    display: block;
    transform: translateX(-100%);
}
aside a{
    display: flex !important;
align-content: center;
color: var(--secondary);
}
aside a svg{
    margin-right: .5em;
}

article{margin: 0;}

/*Login*/
form.login {
    width: 100%;
    margin: 0 auto;
}

/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {}

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {}

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
    form.login {
        width: 60%;
    }
    aside#desktop{
        display: block !important;
    }
    aside#mobile{
        display: none
    }
    section{
        margin-left: 12em;
    }

}

/* X-Large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
    form.login {
        width: 50%;
    }
}

/* XX-Large devices (larger desktops, 1400px and up)*/
@media (min-width: 1400px) {
    form.login {
        width: 40%;
    }
}